/** recommended for test 
*  form to be centered, large, and at utmost top
*  buttons to be clear and visible
*  each fields/input should be formatted centerly
*/
html { background-color: black; }
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url(./rain.gif);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
}
#bigBox{
    max-width: 900px;
    margin: auto;
    padding-top: 20px;
}

.card{
    background-color: rgba(255, 255, 255, .7);
    border: 1px solid black;
    border-top: 5px solid dodgerblue;
    height: 150px;
    max-width: 500px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.card:hover{
    background-color: rgba(42, 42, 54, .75);
    transform: scale(1.2);
    transition: all .4s;
}

.card:hover .name, .card:hover .place {
    color: white;
    transition: color .4s;
}

.card:hover .age {
    background-color: white;
    color: #333;
    transition: all .4s;
}

.age{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 30px;
    line-height: 80px;
    display: inline-block;
    text-align: center;
    background-color: dodgerblue;
    margin-left: 20px;
    color: white;
}

.place{
    height: 40px;
    width: 60px;
    font-size: 30px;
    float: right;
    margin-top: 50px;
    margin-right: 20px;
    text-align: center;
    color: #333;
}

.name{
    height: 20px;
    width: 50px;
    margin: auto;
    display: inline-block;
    margin-bottom: 40px;
    text-align: center;
    color: #333;
}

/*create your code below*/

.add-more-container {
    text-align: center;
}
#popupButton {
    background: none;
    border: 2px solid white;
    color: #fff;
    width: 200px;
    border-radius: 50px;
    padding: .5rem;
    font-size: 1rem;
}

#popupButton:hover {
    background: white;
    color: #333;
    cursor: pointer;
}

#popupBox{
    border: 3px solid black;
    height: 600px;
    width: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: grid;
    place-content: center;
}

#audContainer { display: none; }
